{% extends 'base.html' %}
{% load static %}
{% block title %}
    首页
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'front/css/index.css' %}">
{% endblock %}

{% block content %}
    <table>
        <thead >
            <tr >
                <th>序号</th>
                <th>书名</th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody>
               {% for book in books %}
                    <tr>
                        <td>{{ book.0 }}</td>
                        <td><a href="{% url 'book_detail' book.0 %}">{{ book.1 }}</a></td>
                        <td>{{ book.2 }}</td>
                    </tr>
               {% endfor %}

        </tbody>
    </table>
{% endblock %}